/* GLOBAL */

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --font-small: clamp(0.6rem, 0.5rem + 0.5vw, 1rem);
    --font-medium: clamp(1rem, 0.5rem + 1vw, 1.5rem);
    --font-large: clamp(1.5rem, 1rem + 1vw, 2.5rem);
    --font-xl: clamp(2rem, 1.5rem + 1vw, 3rem);
    --color-aqua: #017371;
    --color-white: #fff;
    --color-grey-dark: #333;
    --color-grey-medium: #666;
    --color-shadow: #0009;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

button,
input,
select {
    font: inherit;
    border-radius: 0.25em;
}

button,
input {
    padding: 0.25em 0.5em;
}

button {
    background-color: var(--color-aqua);
    color: var(--color-white);
    border: none;
    transform: scale(1);
    transition: transform 0.1s ease;
}

button:hover,
button:focus {
    transform: scale(1.1);
}

i {
    margin-right: 0.5em;
}

.container {
    display: flex;
    justify-content: center;
    padding: 1em;
    font-size: var(--font-medium);
}

.content {
    flex: 1;
    max-width: 75ch;
}

.shadow {
    box-shadow: 0px 0px 5px var(--color-shadow);
}

/* HEADER */

.header {
    border-bottom: 2px solid var(--color-grey-medium);
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-title {
    font-size: var(--font-xl);
    margin-right: auto;
}

.page-title i {
    color: var(--color-aqua);
}

#new-book-button i {
    font-size: 0.8em;
}

/* DIALOG */

.new-book-dialog {
    border-radius: 0.25em;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: clamp(300px, 25vw, 600px);
    padding: 1em;
}

.new-book-dialog form,
.new-book-dialog div:not(.dialog-buttons) {
    display: flex;
    flex-direction: column;
    gap: 0.25em;
}

.new-book-dialog .dialog-buttons {
    display: flex;
    justify-content: center;
    gap: 1em;
}

.dialog-buttons button {
    flex: 1;
}

/* LIBRARY */

.library-heading {
    font-size: var(--font-large);
}

.book-count {
    color: var(--color-grey-dark);
    margin: 0.5em 0;
}

.books-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-items: center;
    gap: 1em;
}

.book {
    font-size: var(--font-small);
    border-radius: 1em;
    width: clamp(200px, 100%, 400px);
    padding: 1em;
    transform: scale(1);
    transition: transform 0.1s ease;
}

.book:hover {
    transform: scale(1.025);
    box-shadow: 0px 0px 5px var(--color-aqua);
}

.book-cover-art {
    border-radius: 0.5em;
    width: 100%;
    aspect-ratio: 2 / 3;
    overflow: hidden;
}

.book-cover-art img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.book-heading {
    margin: 0.5em 0;
}

.book-title {
    font-size: var(--font-medium);
}

.book-author {
    color: var(--color-aqua);
    margin-left: 1em;
}

.book-info {
    color: var(--color-grey-dark);
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5em;
}

.book-buttons {
    display: flex;
    justify-content: space-evenly;
}